*body {
  background-color: black !important;
  background-size: cover;
}

.header {
  display: flex;
  background-image: url(images/bg.png);
  background-size: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  flex-direction: column;

  &__navbar {
    display: flex;
    justify-content: space-between;
    color: #ffff;
  }

  &__nav {
    display: flex;
    margin: 28px 20px;
  }

  &__logo  {
    margin: 18px 20px;
    svg {
      width: 50px;
      height: 40px;
    }
    

}

  

&__text {
  display: flex;
  color: #ffff;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: flex-start;
  margin: 0px 80px;
  width: 350px;

  p {
    margin: 15px 0px;
  }

  button {
      margin: 5px 0px;
      width: 170px;
      height: 47px;
      background: #BDAE82;
  }
}
}

.nav-link {
  margin-right: 50px;
}

.skills {
  text-align: center;
  margin: 30px 50px;
  padding: 0px 55px;
  margin-top: 65px;
  color: #bdae82;

  .h1 {
    overflow: hidden;
    text-align: center;
    font-size: 45px;
  }
  
  .h1 span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .h1:before,
  .h1:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    height: 2px;
    background-color: #bdae82;
    position: relative;
  }
  
  .h1:before {
    margin-left: -100%;
    left: -11px;
  }
  
  .h1:after {
    margin-right: -100%;
    right: -11px;
  }

  .row {
    margin-top: 65px;
  }
  

  .col {
    h4 {
    margin-top: 50px;
    color: #FFFFFF;
    }

    p {
    margin-top: 20px;
    color: #FFFFFF;
    }
  }
}

.portfolio {
  color: #c5b892;
  flex-direction: column;
  text-align: center;
  margin: 30px 50px;
  padding: 0px 55px;
  margin-top: 65px;

  .h1 {
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: 45px;
  }
  
  .h1 span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .h1:before,
  .h1:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    height: 2px;
    background-color: #c5b892;
    position: relative;
  }
  
  .h1:before {
    margin-left: -100%;
    left: -11px;
  }
  
  .h1:after {
    margin-right: -100%;
    right: -11px;
  }

  &__button {
    box-sizing: border-box;
    background: none;
    border: 2px solid #BDAE82;
    border-radius: 0px;
    height: 55px;
    width: 220px;
    margin-top: 60px;
    color: #fff;

    &:hover {
      background-color: #BDAE82;
    }
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
  }

  &__item1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
    
    

    .foto {
      width: 32%;
      margin: 0px 20px;
    }
  }
 
  &__item2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;


    .foto {
      width: 32%;
      margin: 0px 20px;

    }
  }

}

.video {
  margin-top: 100px;
color: #BDAE82;
  .h1 {
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: 45px;
  }
  
  .h1 span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .h1:before,
  .h1:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    height: 2px;
    background-color: #c5b892;
    position: relative;
  }
  
  .h1:before {
    margin-left: -100%;
    left: -11px;
  }
  
  .h1:after {
    margin-right: -100%;
    right: -11px;
  }

  &__img {
    display: flex;
    justify-content: center;
    margin-top:70px;
  }

  &__play {
    position: absolute;
    top: 2980px;
  }
}

.price {
  color: #BDAE82;
  margin-top: 100px;
  .h1 {
    justify-content: center;
    overflow: hidden;
    text-align: center;
    font-size: 45px;
  }
  
  .h1 span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .h1:before,
  .h1:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    height: 2px;
    background-color: #c5b892;
    position: relative;
  }
  
  .h1:before {
    margin-left: -100%;
    left: -11px;
  }
  
  .h1:after {
    margin-right: -100%;
    right: -11px;
  }

  &__card {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    margin: 0px 60px;
    margin-top: 70px;
    color: #fff;

    .h4 {
      color: #BDAE82;
      margin-top: 20px;
    }

    .h3 {
      margin-top: 43px;
    }

    .button {
      margin-top: 48px;
      margin: 5px 0px;
      width: 170px;
      height: 47px;
      background: #BDAE82;
      margin-bottom: 50px;
    }
    .card1 {
      width: 380px;
      border: 3px solid #BDAE82;
    }

    .card2 {
      width: 380px;
      border: 3px solid #BDAE82;
    }

    .card3 {
      width: 380px;
      border: 3px solid #BDAE82;
    }
  }

}


.contact {
  background-image: url(images/contact.svg);
  background-size: 90%;
  height: 80vh;
  background-repeat: no-repeat;
  margin-top: 100px;
}


.footer {
  color: #fff;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 25px;
  .block1 {
    display: flex;
    margin: 0px 15px;

    h6 {
      margin-left: 25px;
    }

    p {
      margin-left: 25px;
    }
  }

  .block2 {
    text-align: center;
  }

  .block3 {
    text-align: end;

    img {
      margin-right: 15px;
    }
  }
}